header {
}
body {
	background-image: url('simon-berger-twukN12EN7c-unsplash.jpg');
}
main {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
footer {
}

/* Style the tab buttons */
.tab {
	background-color: #4CAF50;
	color: white;
	padding: 8px 16px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
/* Style the active tab button */
.active {
	background-color: #8BC34A;
}
#map-container {
	width: 50%;
	margin: 2em auto;
}
